<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="movieDetails">
        <ion-card-header>
            <ion-card-title *ngIf="type === 'movie'">
                {{ movieDetails.original_title }}
            </ion-card-title>
            <ion-card-title *ngIf="type === 'tv'">
                {{ movieDetails.original_name }}
            </ion-card-title>
            <ion-card-subtitle *ngIf="type === 'movie'">
                {{ movieDetails.release_date | date: 'dd/MM/yyyy'}}
            </ion-card-subtitle>
            <ion-card-subtitle *ngIf="type === 'tv'">
                {{ movieDetails.first_air_date | date: 'dd/MM/yyyy'}}
            </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content text-center>
            <img [src]="imageURL + movieDetails.poster_path" class="img">

            <h2 *ngIf="type == 'movie'"><b>{{ movieDetails.tagline }}</b></h2><br>
            {{ movieDetails.overview }}

            <ion-item lines="none">
                <ion-icon slot="start" name="star"></ion-icon>
                <ion-label text-wrap>{{ movieDetails.vote_average }}/10</ion-label>
            </ion-item>

            <ion-item lines="none" *ngIf="type === 'movie'">
                <ion-icon slot="start" name="globe"></ion-icon>
                <ion-label>{{ languages }}</ion-label>
            </ion-item>
            <ion-item lines="none" *ngIf="type === 'tv'">
                <ion-icon slot="start" name="globe"></ion-icon>
                <ion-label>{{ movieDetails.original_language }}</ion-label>
            </ion-item>

            <ion-item lines="none" *ngIf="type === 'tv'">
                <ion-icon slot="start" name="tv"></ion-icon>
                <ion-label>{{ movieDetails.number_of_seasons }}</ion-label>
            </ion-item>
            <ion-item lines="none" *ngIf="type === 'tv'">
                <ion-icon slot="start" name="albums"></ion-icon>
                <ion-label>{{ movieDetails.number_of_episodes }}</ion-label>
            </ion-item>

            <ion-item lines="none" *ngIf="type === 'movie'">
                <ion-icon slot="start" name="albums"></ion-icon>
                <ion-label text-wrap>{{ genres }}</ion-label>
            </ion-item>

            <ion-button expand="full" (click)="openWeb()" *ngIf="movieDetails.homepage && movieDetails.homepage != null">
                Open website
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
