<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="movieDetails">
    <ion-item >
        <ion-label text-wrap>
            <b>Name:</b> {{ movieDetails.original_title }}
        </ion-label>
    </ion-item>

    <ion-item >
        <ion-label>
            <b>Release date:</b> {{ movieDetails.release_date | date: 'dd/MM/yyyy' }}
        </ion-label>
    </ion-item>

    <ion-item>
        <ion-label>
          <b>Language(s):</b> {{ languages }}
        </ion-label>
    </ion-item>

    <ion-item>
        <ion-label text-wrap>
            <b>Description:</b> {{ movieDetails.overview }}
        </ion-label>
    </ion-item>

    <ion-item>
        <ion-label text-wrap>
          <b>Genres:</b> {{ genres }}
        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
